html,body
{
height:100%;
margin: 0;
}

#page
{
 min-height: 100%;
     position: relative;
}

#bloc-principal
{
 padding-bottom: 100px;
}

h1
{ color : #94DBF2}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('html/fonts/SinkinSans-400Regular-webfont.eot');
    src: url('html/fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('html/fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('html/fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('html/fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p
{
    font-family: 'sinkin_sans400_regular',Arial,Helvetica,sans-serif;
    text-align: justify;
    
}



.principal_header
{
    
    position : relative;
background: url('pictures/Back_header.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
opacity: 1;s
  width: 100%;
    height:192px;
    
   

}
#bord_logo
{
display: inline-block;
    border: 1px solid black;
}

#logo_principal
{
    
    display: flex;
    justify-content: space-around;
   padding-top: 30px;

     flex :1;
     
}


.menu-deroulant, .menu-deroulant ul
{
    padding: 0;
    margin:0;
    list-style: none;
}

.menu-deroulant 
{
    text-align: center;
    background-color: black;
    height: 30px
}


.menu-deroulant li
{
   
    display: inline-block;
    padding:0 5px 0 5px;
}


.menu-deroulant a
{
    text-decoration:none;
    display:block;
    line-height:30px;
    color:#FFF;
}

.menu-deroulant li ul
{
    position: absolute;
    display:none;
    z-index: 10;
    
}


.menu-deroulant li:hover ul
{
     position: absolute;
    display:block;
    display:flex;
    width: 100%;

}

.menu-deroulant li:hover ul .Liste
{
    display:block;
}
.menu-deroulant li:hover ul .Liste li
{
    display:inherit;
}

.menu-deroulant li ul
{
  border : 1px solid black;
 
}

.menu-deroulant li ul .Liste
{
    display:block;
}

.menu-deroulant li ul .Liste li a
{
    color: #000;
}

.logo-liste
{ 
}

section
{
    display: flex;
    margin-top: 10px;
    -moz-box-sizing: border-box; box-sizing: border-box;
    min-height:100%;
    padding-bottom:10px;
    position:relative;
}

.ico_categorie
{
    vertical-align: middle;
}

article
{
    flex: 3;
    border: 1px solid #444;
}

aside
{
    flex: 1.2;
    position: relative;
    padding :10px;
    margin-left: 20px;
    border: 1px solid #444;
    
}
a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
}




.pied-de-page
{

background-color:rgba(247, 247, 247,0.5);
border: 1px solid black;
height:100px;
width:100%;
position:absolute;
bottom:0;
}



