h1
{ color : #94DBF2}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p
{
    font-family: 'sinkin_sans400_regular',Arial,Helvetica,sans-serif;
    text-align: justify;
    
}



.principal_redirection 
{
    display: flex;
    justify-content :space-around ;
    font-size: 20px;
    font-family: 'sinkin_sans400_regular',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.titre_principal
{
    flex : 2;
    margin: auto;
    text-align: center;
    text-decoration:none;
    

}
#logo_principal
{
    margin: 20px 20px 10px 20px;
    padding: auto;
     flex :1.1;
     border: 1px solid black;
}

.nav_content
{
    margin-top: 20px:;
}
.element_liste_nav
{
    display: inline-block;
     width: auto;

}

.liste_nav
{
    
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    border: 2px solid #444;
    
}

section
{
    display: flex;
}

.ico_categorie
{
    vertical-align: middle;
}

article
{
    flex: 3;
}

aside
{
    flex: 1.2;
    position: relative;
    padding :10px;
    
}
a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
}